/*
 *  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
.circle {
    background: none repeat scroll 0 0 #191919;
    border-radius: 50px;
    height: 50px;
    padding: 10px;
    width: 50px;
    color: #fff;
}
.padding-top-double {
    padding-top: 20px;
}
.padding-double {
    padding: 20px;
}
.grey {
    color: #333;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #7f7f7f;
    margin: 1em 0;
    padding: 0;
    opacity: 0.2;
}
.light-grey {
    color: #7c7c7c;
}
.uppercase {
    text-transform: uppercase;
}
.grey-bg {
    background-color: #f6f4f4;
}

.doc-link {
    background: #008cc4;
    padding: 20px;
    color: white;
    margin-top: 0;
}

.doc-link a {
    color: white;
}
