/*
 * Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 *
 * WSO2 Inc. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.table.list-table.grid-view .text-left-on-grid-view{
    display: none;
}

.try-device-container {
    position: relative;
}

.try-device-image {
    position: absolute;
    top: 20px;
    width: 192px;
    background: #008cc4;
}

.try-device-text {
    font-size: 22px;
    margin: 80px 210px;
    font-weight: 300;
}

.try-device-message {
    border-color: transparent;
    margin: 20px 10px;
}