<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
~ Copyright (c) 2022, Entgra (Pvt) Ltd. (http://www.entgra.io) All Rights Reserved.
~
~ Entgra (Pvt) Ltd. licenses this file to you under the Apache License,
~ Version 2.0 (the "License"); you may not use this file except
~ in compliance with the License.
~ You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing,
~ software distributed under the License is distributed on an
~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~ KIND, either express or implied. See the License for the
~ specific language governing permissions and limitations
~ under the License.
-->

<IdentityServiceProviderConfiguration>
	<IdentityServiceProviders>
		<IdentityServiceProvider>
			<ProviderName>WSO2 IAM</ProviderName>
			<ProviderClassName>io.entgra.application.mgt.core.identityserver.serviceprovider.impl.WSO2IAMSPApplicationService</ProviderClassName>
			<ServiceProvidersPageUri>/carbon/application/list-service-providers.jsp</ServiceProvidersPageUri>
			<!-- <ServiceProvidersAPIContextPath>/t/carbon.super/api/server/v1/applications</ServiceProvidersAPIContextPath> -->
		</IdentityServiceProvider>
	</IdentityServiceProviders>
</IdentityServiceProviderConfiguration>
